<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 介绍ejs的基本使用 -->
    <!-- 当ejs解析这个模板的时候,<%%>外面的内容,原样输出 -->
    <!-- 当ejs解析这个模板的时候,<%%>里面的代码,当做js去执行 -->
    <h3>欢迎您: <%= username %></h3>
  </body>
  <script>
    console.log(document.cookie)
    // document.cookie = 'a=1'
    document.cookie = 'a=9'
  </script>
</html>
